<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".EdgeTtsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edgettsandroid">

        <!-- Launcher Activity: Podcast & Multi-Voice Creator Studio -->
        <activity
            android:name=".PodcastCreatorActivity"
            android:exported="true"
            android:label="@string/podcast_creator_title"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TTS Engine Settings Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/engine_name">
            <!-- Also accessible via Intent or from the podcast creator UI -->
        </activity>

        <activity
            android:name=".EdgeTtsCheckDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EdgeTtsInstallDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VoicePickerActivity"
            android:exported="false"
            android:label="@string/voice_picker_title" />

        <!-- System TTS Engine Service -->
        <service
            android:name=".EdgeTtsService"
            android:exported="true"
            android:label="@string/engine_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>

        <!-- FileProvider for Sharing Generated Podcasts -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
